.form {
    background-color: #ffe268;
    width: 700px;
    height: 1200px;
    border-radius: 20px;
}

.title-state {
    padding: 20px 0px 0px 10px;
    margin: 15px 0px 0px 20px;
}

.check-isDone {
    height: auto;
}